/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset Default Style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#59A5FF;
    --custom-white: #F8F8F8;
}


/* Primary Background Color  */
.pr-bg-color{
    background-color: var(--primary-color);
}
/* primary text color  */
.pr-txt-color{
    color:var(--primary-color)
}
/* project body  */
.project-body {
    padding: 20px;
}
/* calculation section */
.calculation-section{
    background-color: var(--custom-white);
}
/* dollar sign size fix  */
.dollar-sign{
    width: 20px;
}
/* field section title */
.title,.amount-title{
    font-size: 1.4rem;
}

h1.text-center {
    font-weight: 600;
}
/* input border color  */
.input-wrapper input{
    border:1px solid var(--primary-color);
}

/* validation border color  */
.red-color::placeholder{
    color:red;
}
/* mobile responsive */
@media only screen and (max-width: 600px) {
    /* input font size  */
    .input-wrapper input{
        font-size:14px;
    }
}