/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset Default Style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#59A5FF;
    --custom-white: #F8F8F8;
    --bg-gray: #DCDCDC;
}


/* Primary Background Color  */
.pr-bg-color{
    background-color: var(--primary-color);
}
/* primary text color  */
.pr-txt-color{
    color:var(--primary-color)
}
/* Gray Backgound  */
.bg-gray{
    background-color: var(--bg-gray);
}


.calculation-section{
    background-color: var(--custom-white);
}

.dollar-sign{
    width: 20px;
}

.title,.amount-title{
    font-size: 1.4rem;
}